*{
  font-family: poppins;
}
.App {
    text-align: center;
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  .timer {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 10px;
    justify-items: center;
    /* padding: 20px; */
  }
  .theme-selector,
  .level-selector {
    margin: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
  } 
  button:hover{
    transform: scale(1.1);
    transition: ease-in 0.2s;
  }